.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  

}

.nav{
  list-style: none;
  
  color: black;
  text-decoration: none;
  width: 500px;
display: flex;
  justify-content: space-between;
  
}
.list{
  color: black;
  text-decoration: none;
}
.about{
  text-align: center;
  font-size: xx-large;
  
  
}
.home{
  text-align: center;
  font-size: xx-large;
  
  
}
.profile{
  text-align: center;
  font-size: xx-large;
}
.contact{
  text-align: center;
  font-size: xx-large;
}
  


    